<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/"><svg version="1.1" id="yqwlogo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 204.9 204.9" style="enable-background:new 0 0 204.9 204.9;width: 54px;
    height: 54px; fill:currentcolor; " xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#000000;stroke-width:24;stroke-linecap:round;stroke-miterlimit:10;}
	.st1{fill:none;stroke:#FFFFFF;stroke-width:6;stroke-linecap:round;stroke-miterlimit:10;}
	.st2{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#FFFFFF;stroke-width:7;stroke-linecap:round;stroke-miterlimit:10;}
</style>
<path d="M102.4,204.9C46,204.9,0,158.9,0,102.4S46,0,102.4,0c56.5,0,102.4,46,102.4,102.4c0,5.9-0.5,11.8-1.5,17.6
	c-1.9,10.9-12.2,18.2-23.1,16.3c-10.9-1.9-18.2-12.2-16.3-23.1c0.6-3.5,0.9-7.1,0.9-10.7c0-34.4-28-62.4-62.4-62.4S40,68,40,102.4
	s28,62.4,62.4,62.4c3.6,0,7.2-0.3,10.8-0.9c10.9-1.9,21.2,5.4,23.1,16.3c1.9,10.9-5.4,21.2-16.3,23.1
	C114.2,204.4,108.3,204.9,102.4,204.9z"></path>
<path d="M197.9,169.6l-49.8-49.8c-7.8-7.8-20.5-7.8-28.3,0c-7.8,7.8-7.8,20.5,0,28.3l49.8,49.8c3.9,3.9,9,5.9,14.1,5.9
	c5.1,0,10.2-2,14.1-5.9C205.7,190.1,205.7,177.4,197.9,169.6z M186.8,173.6c-0.4,0.9-22,3.9-24.1,3.2c0,0-0.1-0.1-0.1-0.1
	c-1-2.6,1-16-0.4-17.4c-2.1-2.1-15.6,1.1-18.4,0c0,0-0.1,0-0.1-0.1c-0.7-2.8,1.7-22.2,5.3-23.7c1.1-0.5,3.7,1.3,4,2.5
	c0.9,3.7-5.8,16.9-4.7,18.3c1.3,1.6,12.3-1.8,17.2-0.1c0,0,0.1,0,0.1,0.1c1.7,4-2.8,14.4,0.4,16.8c1.3,1,16.5-3.9,18.3-3.4
	C185.5,170.1,187.3,172.6,186.8,173.6z"></path>
<path class="st0" d="M171.8,147"></path>
<path class="st1" d="M102.4,16.6"></path>
<path class="st2" d="M75.4,21"></path>
<path class="st2" d="M68.8,23.4"></path>
<path class="st3" d="M134,182.3"></path>
<path d="M116.4,104.9c-7.7,0-14-6.3-14-14V62.6c0-7.7,6.3-14,14-14s14,6.3,14,14v28.3C130.4,98.6,124.2,104.9,116.4,104.9z"></path>
<path d="M91.3,130.4H63c-7.7,0-14-6.3-14-14s6.3-14,14-14h28.3c7.7,0,14,6.3,14,14S99,130.4,91.3,130.4z"></path>
</svg><svg style="width: 172px; height: 40px; fill:currentcolor; margin-left:5px;"><text dominant-baseline="text-before-edge">{{ site.title }}</text></svg></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="huxblog_navbar">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ site.baseurl }}/">Home</a>
                    </li>
                    {% for page in site.pages %}{% if page.title %}
                    <li>
                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                    {% endif %}{% endfor %}

                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<script>
    // Drop Bootstarp low-performance Navbar
    // Use customize navbar with high-quality material design animation
    // in high-perf jank-free CSS3 implementation
    var $body   = document.body;
    var $toggle = document.querySelector('.navbar-toggle');
    var $navbar = document.querySelector('#huxblog_navbar');
    var $collapse = document.querySelector('.navbar-collapse');

    var __HuxNav__ = {
        close: function(){
            $navbar.className = " ";
            // wait until animation end.
            setTimeout(function(){
                // prevent frequently toggle
                if($navbar.className.indexOf('in') < 0) {
                    $collapse.style.height = "0px"
                }
            },400)
        },
        open: function(){
            $collapse.style.height = "auto"
            $navbar.className += " in";
        }
    }

    // Bind Event
    $toggle.addEventListener('click', function(e){
        if ($navbar.className.indexOf('in') > 0) {
            __HuxNav__.close()
        }else{
            __HuxNav__.open()
        }
    })

    /**
     * Since Fastclick is used to delegate 'touchstart' globally
     * to hack 300ms delay in iOS by performing a fake 'click',
     * Using 'e.stopPropagation' to stop 'touchstart' event from
     * $toggle/$collapse will break global delegation.
     *
     * Instead, we use a 'e.target' filter to prevent handler
     * added to document close HuxNav.
     *
     * Also, we use 'click' instead of 'touchstart' as compromise
     */
    document.addEventListener('click', function(e){
        if(e.target == $toggle) return;
        if(e.target.className == 'icon-bar') return;
        __HuxNav__.close();
    })
    

</script>
